
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Gestión</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{!-- <li class="nav-item active">
        <a class="nav-link" href="/loginEmpleado">Login<span class="sr-only">(current)</span></a>
      </li>       --}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/cliente" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clientes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/cliente/nuevo">Nuevo</a>
            {{!-- <a class="dropdown-item" href="/cliente/editar/{{DNI}}">Editar</a> --}}
        
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/cliente/listado">Listado</a>
        </div>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/usuario" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/usuario/nuevo">Nuevo</a>                   
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/usuario/listado">Listado</a>
        </div>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> --}}
    </ul>
    {{#if session}}
    <H6>{{session.usuario.nombre}}</H6>
    {{/if}}
    <form class="form-inline my-2 my-lg-0">
      {{!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> --}}
      <a class="btn btn-primary" onclick="desactivar()"  id="btnCliente" href="/loginEmpleado" role="button">Clientes</a>
      <a class="btn btn-success" id="btnUsuario" href="#" role="button">Usuarios</a>
      {{!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Clientes</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Usuarios</button> --}}

    


    </form>
  </div>
</nav>



<script>

function desactivar(){
  document.getElementById('btnUsuario').style.display = 'none';
}

</script>

